@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RobotoRegular';
  src: url('./fonts/Roboto-Medium.ttf');
}

@font-face{
  font-family: 'RobotoBold';
  src: url('./fonts/Roboto-Bold.ttf')
}

:root{
  font-family: RobotoRegular;
  line-height: 1.5;
  background-image: url(https://i.imgur.com/MKalUss.png);)
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
